:root {
  --color-white: #fff;
  --color-black: #111;
  --color-bg: #f5f2ef;
  --color-primary: #103c9b;
  --color-secondary: #494949;
  --color-accent: #4fee68;
  --color-text: #111;

  --border-radius: 2px;
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 1rem;

  --color-card-bg: #f9f7f4;
  --color-card-shadow: #cfcdca;
}

:root[data-theme="dark"] {
  --color-bg: #111;
  --color-primary: #5984e0;
  --color-secondary: #b3b3b3;
  --color-accent: #4fee68;
  --color-text: #fff;

  --color-card-bg: #1b1b1b;
  --color-card-shadow: #000000;
}

@font-face {
  font-family: "ScopeOne"; /* A name you choose */
  src: url("../assets/ScopeOne-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Prevents render blocking */
}

html,
body {
  color: var(--color-text);
  font-family: "ScopeOne";
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: var(--color-bg);
}

a {
  color: var(--color-primary);
}

dt {
  margin-bottom: 0.5rem;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-primary);
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

hr {
  background-color: var(--color-secondary);
  border: none;
  height: 1px;
  margin-bottom: var(--space-3);
}
