.ft {
  display: flex;
  flex-direction: row;
  background-color: #262335;
  height: 56px;
  box-sizing: border-box;

  &-active {
    border-width: 0 0 0.5px 0;
    border-style: solid;
    border-color: #8f2b9d;
  }

  &-container {
    overflow: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #241b2f;

    &::-webkit-scrollbar {
      height: 0rem;
      width: 12px; /* width of the entire scrollbar */
    }

    &::-webkit-scrollbar-track {
      background: #262335; /* color of the tracking area */
    }

    &::-webkit-scrollbar-thumb {
      background-color: #241b2f; /* color of the scroll thumb */
      border-radius: 1px; /* roundness of the scroll thumb */
      border: 3px solid #241b2f; /* creates padding around scroll thumb */
    }
  }

  &-btn {
    &:focus {
      box-shadow: none !important;
    }
  }

  &-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    text-decoration: none;
  }
}
