.link {
  color: #4fe4b8;
  //color: #7676c4;
  display: flex;
  text-decoration: none;

  &:hover {
    background-color: #2f2441;
    color: #4fe4b8;
  }
}

.folder {
  color: #4fe4b8;
  //color: #7676c4;
  &:hover {
    background-color: #2f2441;
    color: #4fe4b8;
  }
}

a.link:active {
  background-color: #40394a;
}
