.main {
  background-color: #262335;
  padding: 0 0 0 0 !important;
  margin: 0 0 0 0 !important;
  height: 100vh;
  overflow: hidden;
}

.fe-col {
  background-color: #241b2f;
  padding: 0.5rem;
  height: auto;

  @media screen and (min-width: 575px) {
    height: 100vh !important;
  }
}

.editor-col {
  flex: 1 1 auto;
  overflow: hidden;
}

.outlet-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #262335;
  overflow-y: auto;
  padding: 1rem;
}
